spring:
  application:
    name: quanxianguanli
  datasource:
    url: jdbc:mysql://localhost:3306/111
    username: root
    password: liyuan12345211
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8080
logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: quanxianguanli-secret-key-2024-stronger-version
  expiration: 86400000